@import "reset.css";
@import "header.css";
@import "footer.css";
@import "main.css";

/* 변수를 선언해둬서 전체에 적용하기 : 색상도 변수로 관리할 수 있다.*/
:root {
  --button-primary: coral;
  --button-hover: rgba(255, 127, 80, 0.8);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

.media-info-msg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: salmon;
}

@media screen and (max-width: 500px) {
  .media-info-msg {
    display: none;
  }
}
